<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-9 border-line">
      <% if user_signed_in? %>
        <%= link_to 'New Blog', new_blog_path %>
      <% end %>
      <% @blogs.each do |blog| %>
        <h3>
          <%= link_to blog.title, blog %>
        </h3>
        <p id="blog-created-at"><strong>Posted:</strong> <%= blog.created_at.strftime("%m-%d-%Y") %></p>
        <p class="blog-text">
          <%= truncate(blog.body, :length => 250) %>
        </p>
        <% if user_signed_in? == true %>
          <%= link_to 'Edit', edit_blog_path(blog) %> |
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
      <br>
      <%= will_paginate @blogs, class: 'blog-pag' %>
      <br>
      <% if user_signed_in? %>
        <%= link_to 'New Blog', new_blog_path %>
      <% end %>
    </div>
    <div class="col-md-2">
      <form class="search-bar">
        <br>
        <input class="form-control" type="text" name="firstname" placeholder="search"><br>
      </form>
      <h3 class="topic-title">Topics:</h3>
      <ul class="topic-list">
        <a href="#"><li>Rails</li></a>
        <a href="#"><li>Ruby</li></a>
        <a href="#"><li>Javascript</li></a>
        <a href="#"><li>OOP</li></a>
        <a href="#"><li>Better Coding</li></a>
        <a href="#"><li>Code Tricks</li></a>
        <a href="#"><li>Styling</li></a>
        <a href="#"><li>Rails</li></a>
        <a href="#"><li>Ruby</li></a>
        <a href="#"><li>Javascript</li></a>
        <a href="#"><li>OOP</li></a>
        <a href="#"><li>Better Coding</li></a>
        <a href="#"><li>Code Tricks</li></a>
        <a href="#"><li>Styling</li></a>
        <a href="#"><li>Rails</li></a>
        <a href="#"><li>Ruby</li></a>
        <a href="#"><li>Javascript</li></a>
        <a href="#"><li>OOP</li></a>
        <a href="#"><li>Better Coding</li></a>
        <a href="#"><li>Code Tricks</li></a>
        <a href="#"><li>Styling</li></a>
      </ul>
    </div>
  </div>
</div>