<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!DOCTYPE html>
<html>
  <head>
    <title>DanBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
		<div class="row top-piece">
		  <div class="col-md-3 header-line">
		  	<h1>Blog Posts</h1>
		  </div>
		    <div class="col-md-9">
		      <ul class="nav nav-pills pull-right">
		        <li class="norm-nav">
		          <a href="http://localhost:4567">HOME</a>
		        </li>
		        <li class="norm-nav">
		          <a href="http://localhost:4567/about.html">ABOUT</a>
		        </li>
		        <li class="norm-nav">
		          <a href="http://localhost:4567/portfolio.html">PORTFOLIO</a>
		        </li>
		        <li class="norm-nav">
		          <a href="http://localhost:4567/contact.html">CONTACT</a>
		        </li>
		        <li class="norm-nav">
		          <% if user_signed_in? %>
							  <%= link_to('LOGOUT', destroy_user_session_path, method: :delete) %>        
							<% else %>
							  <%= link_to('LOGIN', new_user_session_path) %>  
							<% end %>
		        </li>
			      <li class="dropdown pull-right drop-nav">
							 <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fas fa-bars"></i></a>
							<ul class="dropdown-menu">
								<li>
									<a href="http://localhost:4567">HOME</a>
								</li>
								<li>
									<a href="http://localhost:4567/about.html">ABOUT</a>
								</li>
								<li>
									<a href="http://localhost:4567/portfolio.html">PORTFOLIO</a>
								</li>
								<li>
									<a href="http://localhost:4567/contact.html">CONTACT</a>
								</li>
								<li>
									<a href="http://localhost:4567/contact.html">TOPICS</a>
								</li>
								<li class="divider">
								</li>
								<li>
				          <% if user_signed_in? %>
									  <%= link_to('LOGOUT', destroy_user_session_path, method: :delete) %>        
									<% else %>
									  <%= link_to('LOGIN', new_user_session_path) %>  
									<% end %>
								</li>
		        	</li>
							</ul>
						</li>
		      </ul>
		    </div>
		</div>
    <%= yield %>

    <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
